{%extends "base.html"%}
{% load static %}

{% block title %}
All Playlists
{% endblock title %}

{% block links %}
<li class="nav-item">
    <a class="nav-link active text-warning" aria-current="page" href="#">PlayLists</a>
</li>
<li class="nav-item">
    <a class="nav-link active text-warning" aria-current="page" href="#">Users</a>
</li>
{% endblock links %}


{% block header %}

{% endblock header %}


{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4">
        <div class="col ">
            <div class="card h-100 bg-dark">
                <img src="../../../../static/img/1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-warning">Reto playlist</h5>
                    <p class="card-text text-white">This is a longer card with supporting text below as a natural
                        lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <a href="" class="btn btn-warning">Listen</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-dark">
                <img src="../../../../static/img/2.jpg" class="card-img-top w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-warning">Chill</h5>
                    <p class="card-text text-white">This is a short card.</p>
                    <a href="" class="btn btn-warning">Listen</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-dark">
                <img src="../../../../static/img/3.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-warning">Mood</h5>
                    <p class="card-text text-white">This is a longer card with supporting text below as a natural
                        lead-in to
                        additional
                        content.</p>
                    <a href="" class="btn btn-warning">Listen</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-dark">
                <img src="../../../../static/img/4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-warning">Soft piano</h5>
                    <p class="card-text text-white">This is a longer card with supporting text below as a natural
                        lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <a href="" class="btn btn-warning">Listen</a>
                </div>
            </div>
        </div>
        <div class="col">
            <a href="" class="my-text">
                <div class="card h-100 bg-dark">
                    <img src="../../../../static/img/add.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-warning">ADD PLAYLIST</h5>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br>
{% endblock content %}