{%extends "base.html"%}
{% load static %}

{% block title %}
SignUp
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/login-signin.css' %}">{% endblock link %}


{% block links %}
<li class="nav-item">
    <a class="nav-link active text-warning" aria-current="page" href="#">PlayLists</a>
</li>
<li class="nav-item">
    <a class="nav-link active text-warning" aria-current="page" href="#">Users</a>
</li>
{% endblock links %}



{% block header %}
<div class="d-flex justify-content-center my-5 py-5 mb-5">
    <form action="" method="post">

        <div class="card bg-dark">
            <a class="singup">Registration</a>
            <div class="inputBox1">
                <input type="text" required="required">
                <span class="user">Email</span>
            </div>

            <div class="inputBox">
                <input type="text" required="required">
                <span>Username</span>
            </div>

            <div class="inputBox">
                <input type="password" required="required">
                <span>Password</span>
            </div>
            <div class="inputBox">
                <input type="password" required="required">
                <span>Repeat Password</span>
            </div>

            <input class="enter" type="submit" value="SignUp">

        </div>
    </form>


</div>

{% endblock header %}